	
	Autor: <%= autor %></p>
    <a>Creador de este portal </a><br>
    <h6>(Ni te cuento lo que me ha costado) </h6><br>
    <div>
    <figure>
    	<img src="/images/imagen.jpg"/ WIDTH=90 HEIGHT=90>
    </figure>
    </div>