<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Biembenido a<%= title %></h1>
    <p>El protal donde prodrá crear sus propios juegos!</p>
  </body>
</html>
